h1 {
  text-align: center;
}

nav ul {
    background-color: #222;
    list-style: none;
    display: inline-block;
    width: 100%;
    z-index: 99;
}

nav ul ul {
  display: none;
}

nav ul li {
  float: left;
  position:relative;
  left: 20%;
  background:none;
}

nav ul li a {
  display: block;
  padding: 25px 40px;
  color: #999;
  text-decoration: none;
}

nav ul ul li {
  float: none;
  position: relative;
}

nav ul ul {
  background: #090e13;
  border-radius: 0px;
  position: absolute;
}

nav ul li:hover a {
    color: #fff;
}

nav ul li:hover > ul {
  display: block;
}
