html {
  background-color: #222;
}

body, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  text-align: center;
  color: #fff;
}

nav ul {
    /* dark menu background */
    background-color: #090e13;
    /* remove default style for ul */
    list-style: none;
    /* each ul should be in a block */
    display: inline-block;
    /* expand to width of parent container */
    width: 100%;
    /* should render on top of everything else */
    z-index: 99;
}

/* hide all submenus. */
nav ul ul {
  display: none;
}

/* let's float the elements so they appear */
/* inline with relative positioning and as */
/* far to the left as possible             */
nav ul li {
  float:left;
  position:relative;
  left: 10%;
  background:none;
}

/* let's make each menu link have a nice     */
/* padded box to live in. Let's also fix the */
/* color of the displayed menu item.         */
nav ul li a {
  display: block;
  padding: 25px 60px;
  color: #757575;
  text-decoration: none;
}

/* a CSS pseudo class that will activate when */
/* the mouse is "hovering" over a list item in */
/* the top level of the nav menu.             */
nav ul li:hover a {
    color: #fff;
}

/* Display a submenu if we hover over a parent */
nav ul li:hover > ul {
  display: block;
}

/* Remove float for submenus, and make */
/* them relatively positioned          */
nav ul ul li {
  float: none;
  position: relative;
  /* border-top: 1px solid #6b727c;
  border-bottom: 1px solid #575f6a; */
}

/* Remove our submenu from the normal */
/* flow of layout when the client     */
/* draws the web page.                */
/* use absolute positioning.          */
nav ul ul {
  background: #090e13;
  border-radius: 0px;
  position: absolute;
  padding: 0;
}

/* change background color on a */
/* sub sub menu item when hover */
nav ul ul li a:hover {
  background: #4b545f;
}
