body {
	background-color: #222;
	color: #fff;
	margin-left: 50px;
	margin-right: 50px;
}
.maintext {
	font-size: 1.2em;
	position: relative;
	left: 5%;
	width: 90%;
}
.headtext {
	font-weight: bold;
	letter-spacing: 1px;
	position: relative;
	left: 5%;
	width: 90%;
}

/*--------TITLE--------*/
h1#name {
  text-align: center;
  color: #fff;
  font-size: 50px;
  letter-spacing: 4px;
}

/*--------HOME PAGE--------*/
#introduction {
	font-size: 24px;
	font-weight: bold;
}

.home {
	position: relative;
	width: 90%;
	left: 5%;
}

/*--------STYLING THE PHOTO-SLIDER--------*/
.carousel-inner img {
	width: 50%;
	margin: auto;
}

@media (max-width: 800px) {
	.carousel-caption {
		display: none;
	}
}

/*--------STYLING THE NAVIGATION BAR--------*/
nav ul {
    background-color: #090e13;
    list-style: none;
    display: inline-block;
    width: 100%;
		margin: auto;
    z-index: 99;
}

nav ul li {
  float:left;
  position:relative;
  left: 10%;
  background:none;
}

nav ul li a {
  display: block;
  padding: 25px 60px;
  font-size: 1.3em;
}

nav ul li a:link {
    color: #fff;
	text-decoration: none;
}

nav ul li a:visited {
    color: #fff;
	text-decoration: none;
}

nav ul li a:hover {
    color: #ffbb00;
	text-decoration: none;
}

nav ul li.current {
	outline: solid 2px;
	outline-color: #ffbb00;
}

/*--------ABOUT US PAGE--------*/
.about {
	position: relative;
	width: 90%;
	left: 5%;
}

#members {
	text-align: center;
}

/*--------STYLING THE MEMBER PHOTOS--------*/
.member {
	float: left;
	width: 20%;
	height:400px;
	margin: 20px 70px 20px 70px;
	border: solid;
}

#member3, #member6 {
	width: 17%;
	margin-left: 90px;
}

.member_photo {
	height: 80%;
	width: 100%;
}

.description {
	text-align: center;
}

/*----- OUR PROJECT -----*/

img#diagram {
	width: 100%;
}
div#map {
	position: relative;
	display: inline-block;
	left:5%;
	width: 90%;
	margin-top: 50px;
	margin-bottom: 50px;
}

div#diagram-box {
	float: left;
	width: 70%;
	max-width: 75%;
}
div#diagram-caption {
	border: 4px solid #ffbb00;
	padding: 5px;
	display:none;
	margin-left: 75%;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	font-size: 1.1em;
	max-height:100%;
	overflow:auto;
}

div#diagram-caption-default {
	border: 4px solid #ffbb00;
	padding: 5px;
	margin-left: 75%;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	font-style: italic;
	font-weight: bold;
	font-size:1.1em;
	text-align: center;
}


/*--------GET INVOLVED PAGE--------*/

.involve {
	position: relative;
	width: 90%;
	left: 5%;
}

.involved
{
	text-align: center;
	float: left;
	width: 100%;
}

p.involve {
	font-size: 18px;
}

a.involve, .involved {
	font-size: 18px;
}

.contact_info
{
	float: left;
	width: 20%;
	height:400px;
	margin: 20px 70px 20px 70px;
	border: solid;
}

.contact_photo
{
	height: 70%;
	width: 100%;
}

#certification {
	width: 40%;
	display: block;
	height: 600px;
	margin: auto;
}

/*--------FOOTER--------*/
footer {
	background-color: #090e13;
	margin-top: 20px;
	padding: 10px;
	width: 100%;
	float: left;
}

#address, #phone_number, #donate {
	width: 33%;
	float: left;
	font-size: 16px;
}

#phone_number {
	text-align: center;
}

#donate {
	text-align: right;
}

#copyright {
	text-align: center;
	color: #777;
}

a.link:link {
    color: #ffbb00;
	text-decoration: none;
}

a.link:visited {
    color: #ffbb00;
	text-decoration: none;
}

a.link:hover {
    color: #ffbb00;
		text-decoration: underline;
}
