body {
	background-color: #222;
	color: #fff;
	margin-left: 50px;
	margin-right: 50px;
}

h1 {
  text-align: center;
  color: #fff;
}

h2 {
	font-size: 24px;
}
/*styling the photo-slider*/
.carousel-inner img {
	width: 50%;
	margin: auto;
}

.carousel-caption p {
	
}

@media (max-width: 800px) {
	.carousel-caption {
		display: none;
	}
}

/*styling navigation bar*/
nav ul {
    /* dark menu background */
    background-color: #090e13;
    /* remove default style for ul */
    list-style: none;
    /* each ul should be in a block */
    display: inline-block;
    /* expand to width of parent container */
    width: 100%;
    /* should render on top of everything else */
    z-index: 99;
}

/* let's float the elements so they appear */
/* inline with relative positioning and as */
/* far to the left as possible             */
nav ul li {
  float:left;
  position:relative;
  left: 10%;
  background:none;
}

/* let's make each menu link have a nice     */
/* padded box to live in. Let's also fix the */
/* color of the displayed menu item.         */
nav ul li a {
  display: block;
  padding: 25px 60px;
  color: #757575;
  text-decoration: none;
}

/* a CSS pseudo class that will activate when */
/* the mouse is "hovering" over a list item in */
/* the top level of the nav menu.             */
nav ul li:hover a {
    color: #fff;
}